#header{
width: 960px;
margin: 0 auto;
overflow: hidden;
background: white;
}

ul{
overflow: hidden;
width: 450px;
margin: 5px auto;



}
li{
margin: 0 3px;
float: left;
list-style-type: none;

}
.container{
width: 960px;
margin: 0 auto;
overflow: hidden;
background: whitw;

} 

#header a{
background: white;
text-decoration: none;
padding: 3px 20px;
color: white;
}
#header a:hover{
background: white;
}

#red {
color: white;
}
.container #add_link{
font-size: 14px;
display: block;
width: 200px;
line-height: 18px;
margin-bottom: 10px;


}


#new_user .field {
padding-top: 10px;
}

#new_user .field label {
margin-bottom: 25px;
}



